body{
    margin:0;
    display:flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgb(74, 196, 196);
}

h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    color:rgb(61, 48, 48);
    text-shadow: 4px 5px 2px rgba(0, 0, 0, 0.3);
    white-space:nowrap;
}

.container
{
    text-align: center;

}


.btn{
    padding:30px 50px;
    background-color: white;
    border: none;
    margin: 10px;
    font-size: 20px;
    min-width: 250px;
    min-height: 150px;
    border-radius: 10px;
    box-shadow: 4px 5px 2px rgba(0, 0, 0, 0.3);
    background-image:url("images/tom.png");
    background-size:cover;
    color:white;
    font-family: cursive;
    text-shadow: 4px 5px 2px rgba(0, 0, 0, 0.3);
    cursor:pointer;
    text-transform: capitalize;

}

.btn:hover{
    color:rgb(74, 196, 196);
}

.btn:active{
    background-size:105%;
}
